.explanation {
  backdrop-filter: blur(60px) grayscale(50%);
  padding: 1rem;
  border-radius: 1rem;
  width: 80vw;
  height: 70hv;
  overflow-y: scroll;
  overflow-x: hide;
  position: sticky;
  border: 3px solid white;
  line-height: 1.3em;
}

.explanation > h1 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.explanation > h2 {
  padding-top: 0.5em;
  padding-bottom: 0.2em;
}
.explanation > ul {
  list-style: inside;
  line-height: 1.3em;
}
